# Dependency directory
/node_modules

# Environment variable file
.env

# macOS system files
.DS_Store

# Logs
logs
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional editor directory
.idea
.vscode

# Temporary files
*.tmp
*.temp
